<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neurocess Task 2 Solution</title>

    <!-- Main Css  -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}" /> 
    
    <!-- Tablet Css  -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/tablet.css')}}" media="(max-width: 768px)" />
    
    <!-- Mobile Css -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/mobile.css')}}" media="(max-width: 500px)" /> 
                       
</head>
<body>
  <div class="container">
    <table>
        <tr>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Image</th>

        </tr>
        {% for k in range(totalProductNumber) %}
                
        
        <tr>
            <td>
                {{products[k].name}}
            </td>
            <td>
              {{products[k].price}}
            </td>
            <td>
                <img src="{{products[k].imageLink}}" class="productImage" /> 
            </td>

        </tr>
        {% endfor %}

    </table>
  
  </div>
</body>
</html>